PORT=3001
MONGO_URI=mongodb://root:root123@localhost:27017/leo_json?authSource=admin
JWT_SECRET=change_me_to_a_32_char_min_secret_key
FRONTEND_URL=http://localhost:3002
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
